
:root {
    --bg : #24201B;
    --primary : #080707; 
    --typography: #E8CCCC;
    --accent : #CC0A0A;
    --secundary : #333232;
}

@font-face {
    font-family: caveat;
    src: url('/public/Caveat/Caveat-VariableFont_wght.ttf');
}

@font-face {
    font-family: montserrat;
    src: url('/public/Montserrat/Montserrat-Regular.ttf');
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    justify-items: center;
    width: 100%;
    background-color: var(--secundary);
    padding: 5px 2rem;
}


.titulo {
    font-family: caveat;
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--typography);
    margin: 0;
}
.redes {
    width: 60%;
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.bi-twitter, .bi-instagram {
    display: inline-block;
    height: 40px;
    width: 40px;
}

.recuadro-accion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.boton-accion {
    display: flex;
    width: 50%;
    cursor: pointer;
    color: var(--typography);
    background-color: var(--primary);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--secundary);
    justify-content: center;
    
}

.info-accion {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.caption-accion {
    font-family: montserrat;
    font-size: 2rem;
    margin: 0;

}

.icono-accion {
    background-color: red;
    width: 25px;
    height: 25px;
    mask-image: url("/public/icons/record-fill.svg");
    mask-repeat: no-repeat;
    mask-size: 25px 25px;
    -webkit-mask-image: url("/public/icons/record-fill.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 25px 25px;

    

}

.bi-record{
    width: 60px;
    height: 60px;
}

.caption-accion, .bi-record {
    margin: 0;
}

.link_instagram, .link_twitter {
    display: flex;
    align-items: center;
}

.asasdfasdfasdfa {
    color: rgb(17, 154, 251);
    color: #00ACEE;
    color: #119AFB;
}